<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates is working</title>
</head>
<body>
<!--i am  a simple templates-->
<!--<br>{{name}} is from {{place}}-->
<h1>Welcome to text analyser</h1>



<form action="/analyse">

<textarea  name='text1' style='width: 1202px; height: 89px;'></textarea>
<br>
<input type="checkbox" name="check">Remove puncuations </input><br>
<input type="checkbox" name="check2">Upper Case </input><br>
<input type="checkbox" name="check3">count the characters </input><br>
<input type="checkbox" name="check4">Remove space </input><br>
<input type="checkbox" name="check5">New line remove</input><br>

<button type="submit">Analyse </button>

</form>



</body>
</html>